nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    align-items: center;
    justify-content: center;
}